@using WorldCup.Web.Extensions
@model IEnumerable<WorldCup.Entities.Match>

@{
    ViewBag.Title = "GetFavoriteMatches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your profile page</h2>

<p style="display: inline-block; float: left; margin: 0 20px;">
    @Html.ActionLink("Favorite players", "GetFavoritePlayers", "Users", new { area = "" }, new { @class = "btn btn-outline-primary" })
</p>
<p style="display: inline-block; float: left; margin: 0 20px;">
    @Html.ActionLink("Favorite teams", "GetFavoriteTeams", "Users", new { area = "" }, new { @class = "btn btn-outline-primary" })
</p>
<p style="display: inline-block; float: left; margin: 0 20px;">
    @Html.ActionLink("Favorite matches", "GetFavoriteMatches", "Users", new { area = "" }, new { @class = "btn btn-outline-primary" })
</p>
<br style="clear: both;" />

<h2>Favorite matches</h2>

<div id="matchesList" class="list-group" style="display: flex; flex-direction: column;">
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="list-group-item list-group-item align-items-lg-start" style="display: flex;
    align-items: center;">
                <div class="justify-content-start" style="    -webkit-box-ordinal-group: 1; -moz-box-ordinal-group: 1; -ms-flex-order: 1; order: 1; -webkit-box-flex: 1; -moz-box-flex: 1; width: 15%; -webkit-flex: 0 0 15%; -ms-flex: 0 0 15%; flex: 0 0 15%; position: static;">
                    @if (item.MatchType == WorldCup.Entities.MatchType.GroupMatch)
                    {
                        <small class="badge badge-primary" style="font-size: 12px;">@Html.DisplayFor(modelItem => item.MatchType)</small>
                    }
                    @if (item.MatchType == WorldCup.Entities.MatchType.RoundOf16)
                    {
                        <small class="badge badge-info" style="font-size: 12px;">@Html.DisplayFor(modelItem => item.MatchType)</small>
                    }
                    @if (item.MatchType == WorldCup.Entities.MatchType.QuarterFinal)
                    {
                        <small class="badge badge-success" style="font-size: 12px;">@Html.DisplayFor(modelItem => item.MatchType)</small>
                    }
                    @if (item.MatchType == WorldCup.Entities.MatchType.SemiFinal)
                    {
                        <small class="badge badge-warning" style="font-size: 12px;">@Html.DisplayFor(modelItem => item.MatchType)</small>
                    }
                    @if (item.MatchType == WorldCup.Entities.MatchType.ThirdPlace)
                    {
                        <small class="badge badge-light" style="font-size: 12px;">@Html.DisplayFor(modelItem => item.MatchType)</small>
                    }
                    @if (item.MatchType == WorldCup.Entities.MatchType.Final)
                    {
                        <small class="badge badge-danger" style="font-size: 12px;">@Html.DisplayFor(modelItem => item.MatchType)</small>
                    }
                    <br />
                    <br />
                    <small class="" style="font-size: 14px;">@Html.DisplayFor(modelItem => item.MatchTime)</small>
                    <br />
                    <small class="" style="font-size: 12px;">@Extensions.GetDisplayName(item.StadiumLocation)</small>
                </div>
                <div class="justify-content-center" style="-webkit-box-ordinal-group: 2; -moz-box-ordinal-group: 2; -ms-flex-order: 2; order: 2; -webkit-box-flex: 2; -moz-box-flex: 2; width: 70%; -webkit-flex: 0 0 70%; -ms-flex: 0 0 70%; flex: 0 0 70%; display: flex;">
                    <div style="text-align: right; flex: 0 0 43%; order: 1; flex-direction: row-reverse; display: flex; align-items: center; direction: ltr;">
                        @if (item.Team1Id != null)
                        {
                            <h3 class="mb-1">@Html.DisplayFor(modelItem => item.Team1.Name) <img style="height: 30px; width: auto; display: inline-block;" src="@item.Team1.FlagUrl" alt="Picture of @item.Team1.Name"></h3>
                        }
                        else
                        {
                            <h3 class="mb-1">Team One</h3>
                        }
                    </div>
                    <div style="flex: 0 0 14%; order: 2; align-items: center; text-align: center; white-space: nowrap;">
                        <span style="font-size: 32px;">@Html.DisplayFor(modelItem => item.ScoreTeam1) : @Html.DisplayFor(modelItem => item.ScoreTeam2)</span>
                    </div>
                    <div style="text-align: left; flex: 0 0 43%; order: 3; flex-direction: row; display: flex; align-items: center; direction: ltr;">
                        @if (item.Team2Id != null)
                        {
                            <h3 class="mb-1"><img style="height: 30px; width: auto; display: inline-block;" src="@item.Team2.FlagUrl" alt="Picture of @item.Team2.Name"> @Html.DisplayFor(modelItem => item.Team2.Name)</h3>
                        }
                        else
                        {
                            <h3 class="mb-1">Team Two</h3>
                        }
                    </div>
                </div>
                <div class="justify-content-end" style="position: static; -webkit-box-ordinal-group: 3; -moz-box-ordinal-group: 3; -ms-flex-order: 3; order: 3; -webkit-box-flex: 3; -moz-box-flex: 3; width: 15%; -webkit-flex: 0 0 15%; -ms-flex: 0 0 15%; flex: 0 0 15%;">
                    <br />
                    @Html.ActionLink("Update", "Edit", "Matches", new { id = item.MatchId }, new { @class = "btn btn-outline-primary" })
                    |
                    @Html.ActionLink("Delete", "Delete", "Matches", new { id = item.MatchId }, new { @class = "btn btn-outline-danger" })
                    <br />
                    @Html.ActionLink("Remove from favorites", "RemoveFavoritePlayer", "Users", new { id = item.MatchId }, new { @class = "text-warning card-link" })
                </div>
            </div>
        }
    }
    else
    {
        <h3>No matches found.</h3>
    }
</div>
